[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">=19.10b0"
pre-commit = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tox = "*"
twine = "*"

[packages]
requests = ">=2.23.0"
requests-toolbelt = ">=0.9.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
